<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- NOTE THIS IS A PUBLIC REPOSITORY DO NOT COMMIT YOUR REAL LAUNCHDARKLY KEY -->
    <add key="LaunchDarkly:SdkKey" value="LOCAL"/>
    <add key="LaunchDarkly:LocalKeyPath" value="C:\LaunchDarkly\YourKey.key"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>